/* style.css */

* {
  margin: 0;
  padding: 0;
  /* outline: 1px dotted red; */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  background-color: crimson;
}

body {
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;
}

main {
 margin: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

article {
  margin-top: 20px;
}

button {
  border: 1px solid crimson;
  background-color: #fff;
  color: crimson;
  font-size: 16px;
  padding: 10px 20px;
  width: 140px;
}

button:hover,
button:focus {
  border: 1px solid crimson;
  background-color: crimson;
  color: white;
  font-weight: bold;
}

h1 {
  margin: 20px 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

table, th, td {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-collapse: collapse;
}

table {
  border-spacing: 30px;
  width: 100%;
  margin-top: 20px;
}

th {
  text-align: left;
  text-transform: uppercase;
}

th, td {
  padding: 15px;
}

td div:first-child {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 8px;
}

td img {
  height: 16px;
  width: auto;
  border: 1px solid rgb(239, 239, 239);
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border: 2px solid rgb(34, 34, 34);
  background-color: #ffffff;
  border-radius: 10px 40px 10px 10px;
  min-width: 300px;
  height: auto;
  margin: 10px;
  overflow: hidden;
}

.team-card {
  border: 2px solid rgb(34, 34, 34);
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 300px;
  height: auto;
  margin: 10px;
  overflow: hidden;
}

#driver-standings,
#constructor-standings {
  margin-top: 20px;
}

.driver-img {
  height: 200px;
  width: auto;
  padding-right: 20px;
}

.driver-flag {
  height: 24px;
  width: auto;
}

.driver-num {
  font-size: 50px;
  font-weight: bold;
  padding-left: 20px;
}

.car-img {
  width: 360px;
  height: auto;
}

.team-logo {
  height: 50px;
  width: auto;
}

.team-drivers {
  justify-content: space-around;
  padding: 20px;
  line-height: 1;
  color:#262626;
}

.card footer {
  padding: 10px 20px;
  background-color: rgb(34, 34, 34);
  color: #ffffff;
  border-top: 2px solid rgb(34, 34, 34);
  line-height: 1.2;
}

.team-card footer {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: #000;
  border-top: 2px solid rgb(34, 34, 34);
  line-height: 1.2;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
}

.flex-start {
  align-items: flex-start;
}

/* Team colors */

.rb-color {
  color: #3571C6;
}

.mer-color {
  color: #6BD3BE;
}

.am-color {
  color: #358C75;
}

.fer-color {
  color: #F91335;
}

.alp-color {
  color: #2193D1;
}

.mcl-color {
  color: #F5801F;
}

.has-color {
  color: #B6BABD;
}

.ar-color {
  color: #C92D4B;
}

.at-color {
  color: #5E8FAA;
}

.wil-color {
  color: #36BDDC;
}

/* Team borders */

.rb-border {
  border-left: 4px solid #3571C6;
  padding-left: 5px;
}

.mer-border {
  border-left: 4px solid #6BD3BE;
  padding-left: 5px;
}

.am-border {
  border-left: 4px solid #358C75;
  padding-left: 5px;
}

.fer-border {
  border-left: 4px solid #F91335;
  padding-left: 5px;
}

.alp-border {
  border-left: 4px solid #2193D1;
  padding-left: 5px;
}

.mcl-border {
  border-left: 4px solid #F5801F;
  padding-left: 5px;
}

.has-border {
  border-left: 4px solid #B6BABD;
  padding-left: 5px;
}

.ar-border {
  border-left: 4px solid #C92D4B;
  padding-left: 5px;
}

.at-border {
  border-left: 4px solid #5E8FAA;
  padding-left: 5px;
}

.wil-border {
  border-left: 4px solid #36BDDC;
  padding-left: 5px;
}